/* nav bar css*/
.navbar{
    background-color: rgb(157, 0, 242);
    text-decoration: none;
    color: white!;
    font-weight: bold;
}
.nav-link{
    color: white;
}
.nav-item>.active{
    color: blue;
}
.navbar-brand img{
    height: 40px;
}
.content-title-div{
   
    background-color: rgb(102, 59, 243);
}
.content-title{

    padding: 20px 0 20px 0;
    color: white;
}
/* portfolio page customization */
.portfolio-card{
    max-width: 350px!;
}
.portfolio-card .card-body{
    background-color: rgb(216, 144, 144);
    text-align: center;
}
.portfolio-card .btn{
    background-color: crimson;
}
@media screen and (max-width: 400px) {
    
    .portfolio-card{
        width: 300px!;
    }
}
/* Service page customization */

.service-card{
    max-width: 350px!;
}
.service-card .card-body{
    background-color: rgb(205, 182, 182);
    text-align: center;
}
.service-card .btn{
    background-color: crimson;
}
@media screen and (max-width: 400px) {
    
    .service-card{
        width: 300px!;
    }
}

/* link inside address of service page  */
.service-page-address a{
    text-decoration: none;
    color: black;
}


/* footer customization */
.footer-top{
    background-color: antiquewhite;
    text-align: center;
}
.footer-bottom{
    background-color: black;
    text-align: center;
    height: 50px;
}
.footer-bottom p{
    padding-top: 15px;
    color: wheat;
}
.about-text{
    text-align: justify;
    text-justify: inter-word;
}